<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ../static/partials/head.ejs %>
    </head>
    <body>
        <!--Navigation-->
        <% include ../static/partials/navbar.ejs%>

        <!--Page Content-->
        <main class="container">
            <!--Jumbotron Header-->
            <header class="jumbotron my-4">
                <h1 class="display-3">About Node Bloccit</h1>
                <p class="lead">An application for users to share information</p>
            </header>

            <!--Page Features-->
            <section class="row text-center">
                <section class="co-lg-4">
                    <h4 class="card-title">Post</h4>
                    <p class="card-text">About Page - Coming Soon to a town near you.</p>
                </section> 
            </section>  <!--/.row-->  
        </main> <!--/.container-->
        <% include ../static/partials/baseScripts.ejs %>
    </body>
</html>